nav {
  padding: 50px;
  text-align: center;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #f2bcbc;
  border-radius: 5px;
}
.drop-menu > li {
  list-style: none;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
}
nav > ul > li:hover {
  background-color: #f7d6d6;
  border-radius: 5px;
}
ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background-color: #a98383;
  color: rgba(252, 241, 241, 0.7);
}
ul.drop-menu li:hover {
  background: #917070;
}
ul.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}
ul.drop-menu li {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
}
li:hover > ul.drop-menu li {
  display: block;
}
